{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'project/base.css' %}">

{% block content %}
<div class = "edit-profile-prompts">
    <h2>Edit Profile</h2>

    {% if messages %}
    <ul class="messages"> 
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul> 
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save Changes</button>
      <button type="reset">Cancel Changes</button>
    </form>
</div>

{% endblock %}