{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}


<div class="task_bar">
    <div>
        <button type="button" id="search">
            <a id="search_a" href="{% url 'project:search' %}">Search</a>
          </button>
          <button type="button" id="profile">
            <a id="prof_a" href="{% url 'project:profile' pk=user.author.id %}">Profile</a>
          </button>
          <button type="button" id="post">
            <a id="post_a"href="{% url 'project:create-post' %}">Create a Post</a>
          </button>
          <button type="button" id="home">
            <a id="home_a"href="{% url 'project:home' %}">Home</a>
            </button>
    </div>
    <div class="right_nav">
        <button type="button" id="settings">
            <a id="set_a">Settings</a>
        </button>
        <button type="button" id="logout">
            <a id="log_a" href="{% url 'logout' %}">Logout</a>
        </button>
        
    </div>
  </div>
<div class = "user-profile">
    <!-- Note: remove hardcoded properties for image -->
    
    <img src={{ author.profileImage }} alt="user profile image" width="100" height="100">

        <h1 id = "disp">{{ author.displayName }}</h1>
        <a id="git" href="http://{{ author.github }}">Check me out on Github</a>
    
        <h4 id="bio">{{ author.bio }}</h4>    


</div>

<br></br>

<div class = "posts">
    <h4>Posts</h4>
    {% if author.post_set.all %}
    <ul>
    {% for post in author.post_set.all %}
        <li class="post">
            <h3><a href="{% url 'project:post' post.author.id post.id %}">{{ post.title }}</a></h3>

            
        {% if post.contentType == "image/png;base64" or post.contentType == "image/jpeg;base64" or post.contentType == "image/jpeg;base64" %}
        <img src="{{post.content}}" alt="pic" style="max-width: 200px; max-height: 200px;">
        {% else %}
        <p>{{ post.content }}</p>
        {% endif %}
            <p>{{ post.postlike_set.count }} &#x1F44D {{ post.comment_set.count }} &#128172</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
</div>
<h4> Followers:</h4>
<div class = "followers">
    <ul>
        {% for follow in author.followers.all %}
    <li>
        <a href="{% url 'project:profile' follow.id %}">{{follow.displayName}}</a>
    </li>
    {%endfor%}
    </ul>
    
</div>

<div class = "github-activity">
    <h4>Github Activity</h4>
</div>

<form method="post" action="{% url 'project:follow' author.id %}">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if author.displayName != user.author.displayName %}
    <button type="submit">Follow</input>
    {%endif%}
    {%endif%}
</form>

 {% endblock %}
